.container-fluid img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .container-fluid .right-button-of-two {
    float: right;
  }
}
@media (min-width: 992px) {
  .container-fluid .right-button-of-two {
    float: none;
  }
}
