.ChineseEnglishSentenceWidget textarea {
  width: 90%;
}
.ChineseEnglishSentenceWidget .chinese:before {
  content: 'Ch';
  vertical-align: top;
}
.ChineseEnglishSentenceWidget .english:before {
  content: 'En';
  vertical-align: top;
}
.ChineseEnglishSentenceWidget .operation-remove {
  cursor: pointer;
}
.ChineseEnglishSentenceWidget .operation-remove:hover {
  background-color: #9d9d9d;
  color: white;
}
.ChineseEnglishSentenceWidget .operation-add {
  text-align: center;
  cursor: pointer;
}
.ChineseEnglishSentenceWidget .operation-add:hover {
  background-color: #9d9d9d;
  color: white;
}
